.root {}

.button {
    border-radius: 0.2em;
    background-color: #4E18DC;
    color: #FFFFFF;
    border: 0px solid black;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.8em 1.2em;
    cursor: pointer;

    &:hover {
        background-color: #642FEE;
    }

    &:active {
        background-color: #390BB2;
    }
}