.App {
    text-align: center;
    max-width: 25em;
    margin-right: auto;
    margin-left: auto;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.form {
    display: block;
    max-width: 25em;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 2em;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.21);
    border-radius: 0.4em;
    margin-top: 2.5em;
}

.description {
    margin: 1em;
}

.note {
    font-size: 0.8em;
    color: #9A9BA4;
}

.title {
    font-size: 2.5em;
    margin: 1em 0em 0.5em;
}